<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verfify Mail</title>
</head>
<body>
    <h1>Registeration successful <%= username %></h1>
    <p>We are delighted to have you i our platform called Taskme.</p>
    <p>To complete the registeration please verify your account to leverage our services by clicking on the link below</p>
    <a href="<%= url %>">Verify your account</a>
</body>
</html>